<div class="profile">
    <h2 class="profile__title"><img class="profile__image" src="{{auth_user?.profile_image}}"/> {{auth_user?.username}}
    </h2>
    <div class="text-center">
        <span>===============</span>
        <h2 class="profile__sub-title">{{points_number}}</h2>
        <span>===============</span>
    </div>
</div>
