<main class="main col-2-section">
  <section class="col-2-section_1 text-center flex-center">
    <unicorn-asci></unicorn-asci>
  </section>
  <section class="sidebar flex-center">
    <h1>Hop in</h1>
    <form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm.value)" method="POST">
      <label>Email
        <input type="email" name="email" autofocus placeholder="Darth Vader" required ngControl="email">
      </label>
      <br>
      <label>Username
        <input type="text" name="username" min="2" max="12" placeholder="Darth Vader" required ngControl="username">
      </label>
      <br>
      <label>Password
        <input type="password" name="password" min="2" max="12" required ngControl="password">
      </label>
      <button type="submit" class="btn btn-block">Request invite</button>
      <br>
      <br>
      <a routerLink="/login">&gt; login</a>
    </form>
  </section>
</main>