<!--<div>
    <li><a routerLink="/" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
</div>-->
<div class="wrap">
    <bubble-component></bubble-component>
    <router-outlet></router-outlet>
</div>
