<main class="main">
    <section>
        <dots></dots>
    </section>
    <section class="sidebar sidebar--fixed">
        <div class="sidebar__inner">
            <profile #profile></profile>
            <top-score></top-score>
            <br/>
            <br/>
            <a class="btn btn-default" (click)="profile.onLogout()">&gt; logout</a>
        </div>
        <footer class="sidebar__footer">
            <small>&lt;&gt; with &hearts; by <a href="http://www.utwo.ro" title="design and development">Utwo</a>
            </small>
        </footer>
    </section>
</main>