@keyframes changeColor {
  0% {
    color: $purple;
  }
  25% {
    color: $pink;
  }
  50% {
    color: $blue;
  }
  75% {
    color: $cyan;
  }
}

.animate-color {
  animation: changeColor 4s infinite alternate ease-in-out;
}

@keyframes slide-right {
  0%, 100% {
    transform: translateX(-100%)
  }
  5%, 95% {
    transform: translateX(0)
  }
}

.slide-right {
  animation: slide-right 10s alternate ease-in-out;
}