.btn {
  background: $white;
  color: $blue;
  box-shadow: 4px 4px 0 $pink;
  border: 0 none;
  padding: .4em;
  font-weight: 600;
}

.btn:hover {
  cursor: pointer;
}

.btn:active {
  box-shadow: 2px 2px 0 $purple;
}

a.btn {
  color: $blue
}

.btn-block {
  display: block;
  width: 100%;
}