.loader {
  color: $blue;
  font-size: 6rem;
}

.loader:before {
  content: '#';
  animation: loading 1s infinite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  height: 100vh;
}

@keyframes loading {
  0% {
    content: '#'
  }
  50% {
    content: '##'
  }
  100% {
    content: '###'
  }
}