<main class="main col-2-section">
    <section class="col-2-section_1 text-center flex-center">
        <unicorn-asci></unicorn-asci>
    </section>
    <section class="sidebar flex-center">
        <h1>Login</h1>
        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)" method="POST">
            <label>Email
                <input type="text" autofocus name="email" placeholder="Darth Vader" required ngControl="email">
            </label>
            <br>
            <label>Password
                <input type="password" name="password" required ngControl="password">
            </label>
            <button type="submit" class="btn btn-block">Login</button>
        </form>
        <br>
        <br>
        <a routerLink="/register">&gt; request invite</a>
    </section>
</main>