.sidebar {
  display: flex;
  flex-direction: column;
  padding: 0 1.4em;
  max-width: 220px;
  width: 100%;
  height: 100vh;
  background: $blue;
  color: $white;
  border-left: 10px solid lighten($blue, 20%);
  transition: .4s all ease-in-out;
  overflow-y: auto;
}

.sidebar--fixed{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  transform: translateX(265px);
}

.sidebar--fixed:hover {
  transform: translateX(0);
  border-color: $blue;
}

.sidebar a {
  color: $white;
}

.sidebar__inner {
  flex: 1 100%;
}

.sidebar__footer {
  flex: 1 2em;
}